# Copiar este archivo como .env en la PC/servidor central.

PORT=8010

# Intersoftic SQL Server
INTERSOFTIC_SQL_SERVER=vps1akarom.dyndns-ip.com,1160
INTERSOFTIC_SQL_DATABASE=InterSoftic_CentroItuzaingo
INTERSOFTIC_SQL_USER=AAZOCAR
INTERSOFTIC_SQL_PASSWORD=ARTURO
INTERSOFTIC_OBRA_SOCIAL_ID=8
INTERSOFTIC_TIPO_PRESTACION_ID=0
INTERSOFTIC_OBRA_SOCIAL_DELEGACION_ID=0
